body{
margin:0;
  text-align: center;
background-color: #F9F7F7;
  color: #000000;
  font-family: font-family: 'Merriweather', serif;
}
.top-container{
  margin:0 ;
    background-color: #FFE2E2;
padding: 100px 70px 30px ;
}
#heading{
  margin-bottom: 0;
  font-family:Copperplate, Papyrus, fantasy;
  background: linear-gradient(193deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 60px;
}
#sub{
font-family: 'Shalimar', cursive;
  margin-top: 0px;
  margin-left: 200px;
  font-size: 30px;
  font-weight: bold;
background: linear-gradient(181deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
p{
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
}
h1{
  margin-top: 50px;
}
h2{

  color: black;
font-size: 2.4rem;
font-family: 'montserrat', sans-serif;
}
h3{
  color: #393E46;
  font-family: 'montserrat', sans-serif;
  font-size: 2rem;
}
hr{
  border: dotted #7D6E83 6px;
  border-bottom: none;
  width:4%;
margin:100px auto;
}

.me01{
  position: relative;
font-family: 'montserrat', sans-serif;
bottom: 30px;
}
.me02{
width:400px;
margin:3% auto;
}
.mountain-img{
  padding-top:20px;
width: 300px;
height: 250px;
}
.cloud1{
position: absolute;
right: 300px;
top: 50px;
}
.cloud2{
  position: absolute;
  left: 300px;
}
.skill-row{
  width: 50%;
  margin:100px auto ;
  text-align: left;
  line-height: 2;

}
.skill-img01{
  margin-top: 10px;
  margin-right:30px;
  width: 25%;
  float: left;
}
.skill-img02{
  float: right;
  margin-left: 30px;
}
.footer-link{
   margin:150px;
  font-size:20px;
text-decoration: none;
color: #8785A2;
}
a:hover{
color: white;
}

.bottom-container{
padding: 50px 0 20px;
  background-color:#FFE2E2  ;
}

.middle-container{
margin:100px 0;
}
.btn {
  background: #FFE2E2;
  background-image: -webkit-linear-gradient(top, #FFE2E2, #e4a1ff);
  background-image: -moz-linear-gradient(top, #FFE2E2, #e4a1ff);
  background-image: -ms-linear-gradient(top, #FFE2E2, #e4a1ff);
  background-image: -o-linear-gradient(top, #FFE2E2, #e4a1ff);
  background-image: linear-gradient(to bottom, #FFE2E2, #e4a1ff);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 11px 17px 11px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f2c4ec;
  background-image: -webkit-linear-gradient(top, #f2c4ec, #c984d1);
  background-image: -moz-linear-gradient(top, #f2c4ec, #c984d1);
  background-image: -ms-linear-gradient(top, #f2c4ec, #c984d1);
  background-image: -o-linear-gradient(top, #f2c4ec, #c984d1);
  background-image: linear-gradient(to bottom, #f2c4ec, #c984d1);
  text-decoration: none;
}
.help{
  width: 300px;
  margin:50px 40%;
}
